@import url('https://fonts.googleapis.com/css?family=Nunito');

.fa:hover {
  color: green;
  cursor: hand;
}

.beerPost {
  display: inline-block;
  border: 10px solid green;
  width: 30%;
}

.beerTitle {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.imgWrap {
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
}

.fa {
  float: right;
}



